<h1 class="title">Тег &lt;canvas&gt;</h1>﻿
<div id="like">
  <div class="num_comments">
    <a href="#disqus_thread">комментариев: 36</a>
  </div>
</div>

<div class="block" id="system-main">
  <div class="block_content">
    <div class=
    "field field-name-body field-type-text-with-summary field-label-hidden">
      <div class="field-items">
        <div class="field-item even">
          <table class="data browser">
            <tr class="br">
              <td><span class="ie">Internet Explorer</span></td>
              <td><span class="cr">Chrome</span></td>
              <td><span class="op">Opera</span></td>
              <td><span class="sa">Safari</span></td>
              <td><span class="fx">Firefox</span></td>
              <td><span class="an">Android</span></td>
              <td><span class="ip">iOS</span></td>
            </tr>
            <tr class="sp">
              <td class="yes"><span>9.0+</span></td>
              <td class="yes"><span>6.0+</span></td>
              <td class="yes"><span>9.6+</span></td>
              <td class="yes"><span>3.1+</span></td>
              <td class="yes"><span>4.0+</span></td>
              <td class="yes"><span>2.1+</span></td>
              <td class="yes"><span>3.0+</span></td>
            </tr>
          </table>
          <h3>Спецификация</h3>
          <table class="standart">
            <tr>
              <td class="h">HTML:</td>
              <td class="no">3.2</td>
              <td class="no">4.01</td>
              <td class="yes">5.0</td>
              <td class="xh">XHTML:</td>
              <td class="no">1.0</td>
              <td class="no">1.1</td>
            </tr>
          </table>
          <h3>Описание</h3>
          <p>
            Создает область, в которой при помощи JavaScript можно рисовать
            разные объекты, выводить изображения, трансформировать их и менять
            свойства. При помощи тега <span class="tag">&lt;canvas&gt;</span>
            можно создавать рисунки, анимацию, игры и др.
          </p>
          <h3>Синтаксис</h3>
          <pre class="no-buttons xml">{include file="example1.html"}</pre>
          <h3>Атрибуты</h3>
          <dl class="param">
            <dt>
              height
            </dt>
            <dd>
              Задает высоту холста. По умолчанию 300 пикселов.
            </dd>
            <dt>
              width
            </dt>
            <dd>
              Задает ширину холста. По умолчанию 150 пикселов.
            </dd>
          </dl>
          <p class="more">
            Также для этого тега доступны <a href=
            "http://htmlbook.ru/html/attr/common">универсальные атрибуты</a> и <a href="http://htmlbook.ru/html/attr/event">события</a>.
          </p>
          <h3>Закрывающий тег</h3>
          <p>
            Обязателен.
          </p>
          <p class="exampleTitle">
            Пример
          </p>
          <p class="example-support">
            <span class=
            "html yes">HTML5</span><span class="no">IE 8</span><span class=
            "yes">IE 9</span><span class="yes">Cr</span><span class=
            "yes">Op</span><span class="yes">Sa</span><span class=
            "yes">Fx</span>
          </p>
          <pre class="html">{include file="example2.html"}</pre>
          <div class="example-view">
            <img class="example-win" src="/lab3/images/win.gif" title="Посмотреть в этом окне" alt="Посмотреть пример">
            <br>
            <img class="example-win" src="/lab3/images/win2.gif" title="Посмотреть в новом окне" alt="Посмотреть пример">
            <br>
          </div>
          <p>
            Результат примера в браузере Opera показан на рис.&nbsp;1.
          </p>
          <p class="fig"><img alt=
            "Вывод рисунка с помощью тега &lt;canvas&gt;" height="299" src=
            "http://htmlbook.ru/files/images/html/tag_canvas.png" width=
            "400">
          </p>
          <p class="figsign">
            Рис. 1. Вывод рисунка с помощью тега
            &lt;canvas&gt;
          </p>
        </div>
      </div>
    </div>
    <div class="field_name">
      <div class="field-items">
        <div class="field-item">
          <a href="#">HTML5</a>
        </div>
        <div class="field-item">
          <a href="#">Изображения</a>
        </div>
      </div>
    </div>
  </div>
</div>